<div class="top center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">Validicious</div>
        <div class="subtitle">The <em>deliciously easy</em> JavaScript data validator</div>
      </div>
    </div>
  </div>
</div>

<div class="download">
  <div class="download-box">
    <div class="download-buttons">
      <div class="btn btn-transparent">
        Development <span>(50kb)</span>
      </div>
      <div class="btn btn-transparent">
        Production <span>(15kb)</span>
      </div>
    </div>
    <div class="download-text">
      <samp>bower install validicious</samp>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><i class="fa fa-check-circle"></i> Validate Something</h2>
      <p class="text-justify">
        <strong><em>Validicious</em></strong> is a data validator;  give it input&mdash;strings, integers, objects,
        functions, your diploma&mdash;and it'll tell you if it's <strong>valid</strong> according to some rules you
        define.  Use pre-built rules like <code>min-length</code>, <code>has-alpha</code>, and <code>credit-card</code>,
        or write your own.  After all rules have been executed against your input, Validicious will tell you
        which rules <span class="text-danger"><strong>failed</strong></span>, and which rules
        <span class="text-success"><strong>passed</strong></span>.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3><i class="fa fa-wrench"></i> Asynchronously Scrumptious</h3>
      <p class="text-justify">
        Rules can be <strong>synchronous</strong> <em>or</em> <strong>asynchronous</strong>;  Validicious will take
        care of the <s>broken</s> promises and callbacks that nobody ever wants to deal with in asynchronous development.
      </p>
    </div>

    <div class="col-md-6">
      <h3><i class="fa fa-globe"></i> Browser Support</h3>
      <p class="text-justify">
        <div class="browser">
          <img src="images/chrome_64x64.png" />
          <div>
            Latest
          </div>
        </div>

        <div class="browser">
          <img src="images/firefox_64x64.png" />
          <div>
            Latest
          </div>
        </div>

        <div class="browser">
          <img src="images/internet-explorer_64x64.png" />
          <div>
            10+
          </div>
        </div>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2><i class="fa fa-code"></i> Quick Glances</h2>
      <div class="row">
        <div class="col-md-6">
          <h3>Asynchronous</h3>
          <div hljs language="js">Vds.async([
  {
    context: $('#password'),
    alias:   'password',
    rules: [{
      rule: 'min-length',
      args: { len: 4 }
    }, {
      rule: 'has-alpha'
    }]
  }
]).then(function (summary) {
  console.log(summary.result);
});</div>
        </div>

        <div class="col-md-6">
          <h3>Synchronous</h3>
          <div hljs language="js">var validate = Vds.sync([
  {
    context: $('#password'),
    alias:   'password',
    rules: [{
      rule: 'min-length',
      args: { len: 4 }
    }, {
      rule: 'has-alpha'
    }]
  }
]);


console.log(validate);</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Custom Rule</h3>
          <div hljs language="js">
Vds.Rules.add('username-available', function (rule, context, options) {
  $.get('/rest/usernames/' + context, function (data) {
    rule.finish((data.username !== ''), data);
  });
});</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>Quick Validation</h3>
          <div hljs language="js">Vds.sync($('#cost').val(), 'currency', { allowDecimal: true });</div>
        </div>
      </div>
    </div>
  </div>

</div>
