<nav class="navbar navbar-default navbar-static-top" ng-controller="NavCtrl">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Validicious <span class="badge">v1.0.0</span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#/home" ng-class="{'active':isActive('home')}">Home</a></li>
        <li><a ng-href="#/docs" ng-class="{'active':isActive('docs')}">Docs</a></li>
        <li><a ng-href="#/examples" ng-class="{'active':isActive('examples')}">Examples</a></li>
        <li><a ng-href="#/rules" ng-class="{'active':isActive('rules')}">Rules</a></li>
        <li><a href="https://github.com/mderoche/Validicious" target="_blank"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
